* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Noto Serif TC", serif;
}

a {
  text-decoration: none;
  color: #000;
}

body {

  position: relative;
  background-image: url("background.jpg");
  background-size: cover;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 2em;
}

/*首頁*/

/*導覽列*/
.main-header {
  width: 100%;
  position: fixed;
  z-index: 999;
  box-shadow: 2px 2px 5px #c5c4c4;
  background-color: rgba(255, 255, 255);
}

.main-header .container {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.main-header .container .main-logo {
  width: 91px;
}

.main-header .container img {
  width: 100%;
  vertical-align: middle;
  margin: 0.5em 0 0.5em 2em;
}

.main-header .main-header-nav {
  margin: auto 5em;
}

.main-header .main-header-nav a {
  font-size: 18px;
  text-decoration: none;
  padding: 1em;
  color: black;
  margin-right: 3em;
  transition: 0.5s;
}

.main-header .main-header-nav a:hover {
  color: #7097a8;
}

/*banner*/

.banner {
  margin-bottom: 3em;
}

/*首頁天氣*/



.home .home-weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
  margin-bottom: 5em;
 
}

.home .container {
  width: 1280px;
  margin: auto;
  
}

.home .container > h3 {
  text-align: center;
  margin-bottom: 3em;
  padding-bottom: 2em;
  border-bottom: 5px solid #7097a8;
}

.home-weather .home-weather-current {
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.home-weather .home-weather-current .weather-current-top {
  display: flex;
  align-items: center;
}

.home-weather-current .weather-current-info {
  display: flex;
  align-items: center;
  margin: 1em 0;
  gap: 2em;
}
.home-weather-current .weather-current-info .weather-current-tep h3 {
  margin-bottom: 0.5em;
}
.home-weather-current .weather-current-info .weather-current-sunrise h3 {
  margin-bottom: 0.5em;
}
.home-weather .home-weather-others {
  width: 60%;
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
}

.home-weather .home-weather-others .weather-others-card > h4 {
  margin: 0.5em 0 1em 0;
}
.home-weather .home-weather-others .weather-others-card {
  width: 25%;
  background-color: #fff;
  text-align: center;
  padding: 2em 0 3em 0;
}

.home-weather-others .weather-others-card .others-card-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}
.weather-others-card .others-card-pic .card-pic-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  margin-left: 1em;
}

.weather-others-card .others-card-pic .card-txt-pic {
  display: flex;
  gap: 0.5em;
}

/*最新消息*/

.home-news .home-news-container {
  width: 1280px;
  margin: auto;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
}

.home-news .home-news-container > h3 {
  margin-bottom: 3em;
  text-align: center;
}

.home-news .news-card-list {
  display: flex;
  gap: 2em;
  justify-content: center;
  margin-bottom: 3em;
  position: relative;
 
}

.home-news .news-card-list .news-card {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  background-color: #ffffff;
  transform: translateY(0px);
  transition: 0.5s;
}

.news-card-list .news-card .news-pic {
  width: 100%;
}
.news-card-list .news-card .news-txt {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.news-card-list .news-card .news-txt p {
  font-size: 18px;
  flex-grow: 1;
  margin: 1em 0;
}
.news-card-list .news-card .news-txt .news-bottom {
  display: flex;
  align-items: center;
}

.news-card-list .news-card .news-txt .news-bottom > span {
  margin-left: 0.5em;
}

.home-news .news-card-list .news-card:hover {
  transform: translateY(-20px);
}

.home-news .home-news-container button {
  align-self: center;
  padding: 1em 2em;
  background-color: #7097a8;
  border: 1px solid transparent;
}

.home-news .home-news-container button a {
  color: #fff;
  font-size: 18px;
}

.home-news .home-news-container button:hover {
  background-color: rgba(112, 151, 168, 0.5);
  cursor: pointer;
}

/*鄰近景點*/

.home-spot {
  margin-bottom: 3em;
  
  
}

.home-spot .spot-area-list {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 8em;
  position: relative;
  
}

.home-spot .spot-area-list .home-spot-area {
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.home-spot .spot-area-list .home-spot-area p {
  font-size: 20px;
}

.spot-area-list .home-spot-area .spot-area-pic img {
  width: 100%;
  margin-bottom: 1em;
  transition: .5s;
}

.spot-area-pic {
  width: 355px;
  height: 255px;
  overflow: hidden;
  margin-bottom: 1em;
}

.home-spot .spot-area-list .home-spot-area:hover img {
  transform: scale(1.1);
}

.home-spot .home-spot-youtube{
  position: relative;
  
}

.home-spot .home-spot-youtube iframe {
  margin: 0 1em 4em 1em;
}



/*美食佳餚*/

.home-food .container {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15em;
}

.home-food h3 {
  margin-bottom: 3em;
  border-bottom: 5px solid #7097a8;
}

.home-food .home-food-area {
  display: flex;
  position: relative;
  animation: slow-left 15s linear;
}
.home-food .home-food-pic {
  width: 70%;
  display: flex;
  margin-right: 3em;
}

.home-food .home-food-pic img {
  width: 100%;
  position: relative;
}

.home-food .home-food-pic img:nth-child(1) {
  left: 100px;
  z-index: 1;
}
.home-food .home-food-pic img:nth-child(2) {
  top: 100px;
  z-index: 0;
}
.home-food .home-food-pic img:nth-child(3) {
  left: -100px;
  z-index: -1;
}

.home-food .home-food-txt {
  font-size: 18px;
  width: 240px;
  font-weight: 400;
  align-self: center;
  text-align: center;
  margin-left: 5em;
}
/*房型介紹*/

.home-room .container {
  width: 1280px;
  margin: auto;
}

.home-room .room-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
 
}

.home-room .room-card-list h3 {
  font-size: 18px;
  text-align: center;
  padding-bottom: 2em;
  margin-bottom: 3em;
  border-bottom: 5px solid #7097a8;
}

.home-room .room-card-list .room-card {
  width: 960px;
  display: flex;
  margin: 0 0 6em 0;
  align-items: center;
  justify-content: space-evenly;
}

.home-room .room-card-list .room-card:nth-child(2) .room-card-pic {
  order: 1;
}

.room-card .room-card-pic img {
  width: 100%;
  border-radius: 20px;
}

.room-card .room-card-txt {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  gap: 3em;
  text-align: center;
}

.room-card .room-card-txt {
  font-size: 18px;
}

.room-card .room-card-txt button {
  font-size: 18px;
  padding: 1em 2em;
  background-color: #7097a8;
  border: 1px solid transparent;
}
.room-card .room-card-txt h4 {
  font-size: 20px;
}
.room-card .room-card-txt a {
  color: #fff;
}

.room-card .room-card-txt button:hover {
  background-color: rgba(112, 151, 168, 0.5);
  cursor: pointer;
}

/*google 地圖*/

.map {
  margin-bottom: 3em;
}

.map h2 {
  font-size: 32px;
  text-align: center;
  padding-bottom: 1em;
}

.map .container {
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 5em;
  border-top: 5px solid #7097a8;
  padding-top: 2em;
}

.map .map-txt {
  background-color: #7097a8;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  font-size: 20px;
  width: 30%;
  padding: 1em;

  box-sizing: border-box;
}

.map .container iframe {
  margin-top: 2em;
}

.map .map-txt h3 {
  margin-bottom: 2em;
  text-align: center;
}

.map .map-txt ul li {
  margin-bottom: 2em;
}

/*聯絡我們*/

.main-about {
  margin-bottom: 3em;
}

.main-about .container {
  width: 600px;
  background-color: #b8e1f3;
  margin: auto;
}

.main-about .container h3 {
  font-size: 20px;
  margin: 2em 0;
}

.main-about label {
  font-size: 18px;
}

.main-about .container form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.main-about .container .about-group {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.main-about .container .about-group label {
  margin-right: 0.5em;
}

.main-about .container .about-type {
  display: flex;
  margin-bottom: 2em;
}

.main-about .container .about-type label {
  margin-left: 0.5em;
}

.main-about .container .about-type input {
  margin-right: 1em;
}

.main-about .container textarea {
  width: 300px;
  height: 100px;
}

.main-about .container button {
  background-color: #7097a8;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  align-self: center;
}

.main-about .container a {
  font-size: 16px;
  color: #fff;
}

.main-about .container button:hover {
  background-color: rgba(112, 151, 168, 0.5);
  cursor: pointer;
}

.main-about .container .illustrate {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
}

/*頁尾*/

.footer {
  width: 100%;
}

.footer .container {
  width: 100%;
  background-color: #2a5cb4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer h4 {
  font-size: 18px;
  font-weight: 400;
}
.footer .container .footer-logo img {
  width: 100%;
  margin: 1em 0 1em 0;
}

.footer .container .footer-txt {
  display: flex;
  gap: 3em;
}

.footer .container .footer-address {
  text-align: center;
}

.footer .container .footer-address h4 {
  margin-bottom: 0.5em;
  color: #fff;
}

.footer .container .footer-social img {
  width: 40px;
  margin: 0.5em;
}

.footer .container .footer-txt a {
  color: #fff;
}

.footer .copyright {
  background-color: #2a5cb4;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding-bottom: 1em;
}

/*加入line好友*/

.add-friend {
  width: 150px;
  height: 200px;
  border: 1px solid #666;
  text-align: center;
  position: fixed;
  bottom: 10em;
  right: 2em;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 16px;
  padding: 0 1em;
  box-sizing: border-box;
}

.add-friend img {
  width: 50px;
  margin-top: 1em;
}

/*關於我們*/

 /*麵包屑*/

 .breadcrumb {
  width: 100%;
  padding: 6em 0 1em 0;
  margin-bottom: 8em;
}

.breadcrumb-list {
  width: 90%;
  margin-left: 2em;
  display: flex;
  font-size: 14px;
}

.breadcrumb-list li + li:before {
  content: ">";
  color: #000;
  margin-right: 20px;
}

.breadcrumb-list li {
  font-size: 16px;
  padding: 0 20px;
}

/*關於我們*/

.about .container {
  width: 1280px;
  margin: auto;
}

.about img{
  border-radius: 20px;
}

.about .about-home {
  display: grid;
  grid-template-areas:
    "a a b b "
    "a a b b "
    "c d b b "
    "e f g g "
    ". . g g ";
  gap: 2em;
  margin-bottom: 4em;
}

.about .about-home img {
  width: 100%;
}

.about-home .home-txt {
  grid-area: a;
  text-align: center;
  align-self: center;
  justify-self: center;
  width: 400px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.about-home .home-txt p {
  font-size: 20px;
  margin-bottom: 1em;
}

.about-home .down-right {
  grid-area: g;
  text-align: center;
  width: 400px;
  letter-spacing: 0.5px;
  align-self: center;
  justify-self: center;
}

.about-home .down-right p {
  font-size: 20px;
  margin-bottom: 1em;
}

.about-home .up-right {
  grid-area: b;
  margin-left: 2em;
}

.about-home .down-left {
  grid-area: c;
  align-self: flex-end;

}

.about-home .down-left-next {
  grid-area: d;
  align-self: flex-end;
}

.about-home .left-after {
  grid-area: e;
}

.about-home .left-after-next {
  grid-area: f;
}

.about .container .about-room-inside {
  display: grid;
  grid-template-areas:
    "a a b b b b b c c"
    "a a b b b b b c c"
    "a a d d e e e c c"
    "a a d d e e e c c";
  margin-bottom: 3em;
  gap: 2em;
}

.about .container .about-room-inside img {
  width: 100%;
}

.about-room-inside .inside1 {
  grid-area: a;
}

.about-room-inside .inside2 {
  grid-area: b;
}

.about-room-inside .inside3 {
  grid-area: c;
}

.about-room-inside .inside4 {
  grid-area: d;
}

.about-room-inside .inside5 {
  grid-area: e;
}

.about .background-pic {

  margin-bottom: 2em;
}

.about .background-pic img{
  width: 100%;
  vertical-align: top;
}

.about .about-card {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.about .about-card .about-card-txt {
  width: 400px;
  align-self: center;
  text-align: center;
  position: relative;
  left: 10%;
  padding: 3em;
  background-color: #b7e3ec;
  font-size: 20px;
}

.about .about-card .about-card-txt p + p {
  margin-top: 1em;
}


/*最新消息*/

.news-breadcrumb {
  width: 100%;
  padding: 6em 0 1em 0;
  margin-bottom: 3em;
}

.news {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news .news-btns {
  text-align: center;
  margin-bottom: 5em;
}

.news .news-btns button {
  padding: 1.5em 5em;
  margin:1em 5em;
  background-color: #7097A8;
  border: 1px solid transparent;
 
}

.news .news-btns button:hover{
  background-color: rgba(112, 151, 168,.5);
  cursor: pointer;
}

.news .news-btns a{
  color: #fff;
  font-size: 20px;
}



.news-btns .btn-hidden {
  display: none;
}


.news .news-card-list .news-card {
  width: 1200px;
  display: flex;
  gap: 4em;
  justify-content: center;
  padding-bottom: 3em;
  margin-bottom: 3em;
  border-bottom: 5px solid #7097A8;
}

.news .news-card-list .news-card .news-card-date{
font-size: 18px;
}

.news .news-card-list .news-card .news-card-pic img{
width: 100%;
vertical-align: top;
}

.news .news-card-list .news-card:nth-child(3) {
  border-bottom: none;
}

.news-card .news-card-txt {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  line-height: 1.5;
  font-size: 18px;
}

/*線上訂房*/

.online-breadcrumb {
  width: 100%;
  padding: 6em 0 1em 0;
  margin-bottom: 3em;
}

.online .container {
  width: 1280px;
  margin: auto;
  }

  .online .container .online-info {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 2em;
  background-color: #D3EFF8;
  padding: 2em;
  font-size: 20px;
  }

  .online .online-info .online-info-in input,
  .online .online-info .online-info-quit input {
  text-align: center;
  margin-left: 1em;

  }

  .online .online-info .online-info-man,
  .online .online-info .online-info-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;
  }

  .online .online-info .online-info-man img {
  width: 15px;
  height: 15px;


  }

  .online .online-info .online-info-child img {
  width: 15px;
  height: 15px;


  }


  .online .container .online-info input {
  width: 100px;
  padding: .3em 0;
  }

  .online .online-info .online-info-man input {
  width: 30px
  }

  .online .online-info .online-info-child input {
  width: 30px
  }

  .online .online-card-list {
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
  }

  .online .online-card-list .online-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  gap: 1em;
  position: relative;
  transform: translateY(0px);
  }

  .online .online-card-list .online-card img {
  width: 100%;

  }


  .online-card-list .online-card h4 {
  font-size: 20px;
  margin-bottom: 1em;
  }

  .online-card-list .online-card span {
  font-size: 20px;
  }

  .online-card-list .online-card button {
  padding: 1em 2em;
  background-color: #7097A8;
  border: 1px solid transparent;
  }

  .online-card-list .online-card button a {
  font-size: 20px;
  color: #fff;
  }

  .online-card-list .online-card button:hover {
  background-color: rgba(112, 151, 168, 0.5);
  cursor: pointer;
  }

  .online-card-list .online-card:hover img {
  transform: translateY(-20px);
  }

  .online .online-know {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 2em auto 2em;
  padding: 2em 0 3em 0;
  background-color: #D3EFF8;
  }

  .online .online-know h3 {
  font-size: 24px;
  text-align: center;
  }

  .online .online-know li {
  width: 600px;
  font-size: 18px;
  line-height: 1.5;
  list-style: decimal;
  margin-bottom: 1em;
  }



  /*加購行程*/

  .online-add-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em auto;
  }

  .online-add-list .add-card-list {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
  }

  .online-add-list h3 {
  font-size: 24px;
  margin-bottom: 3em;
  }

  .online-add-list .add-more {
  font-size: 18px;
  align-self: flex-end;
  }

  .online-add-list .add-more:hover a {
  color: #7097a8;
  }

  .online-add-list .add-card-list .add-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #7097A8;
  transform: translateY(0px);

  }

  .add-card .add-card-title h4 {
  font-size: 18px;
  }

  .add-card .add-card-txt {
  flex-grow: 1;
  padding: 0.5em 2em 1em 2em;
  display: flex;
  flex-direction: column;
  }

  .add-card .add-card-txt .add-card-title h4+h4 {
  color: rgba(255, 0, 0, 0.658);
  }

  .add-card .add-card-pic {
  width: 100%;
  vertical-align: middle;
  }

  .add-card .add-card-txt .add-card-bottom {
  margin-top: auto;
  }

  .add-card .add-card-txt span {
  color: #555454;
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 0.5em;
  }

  .add-card .add-card-txt .card-txt-small span:nth-child(1) {
  margin-right: 1em;
  }

  .add-card .add-card-txt .card-txt-small {
  margin-bottom: 0.5em;
  }

  .add-card .add-card-txt .add-card-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  }

  .add-card .add-card-txt .card-txt-hour {
  font-size: 16px;
  }

  .add-card .add-card-txt .add-card-bottom {
  display: flex;
  justify-content: space-between;
  }

  .add-card .add-card-txt p {
  margin-bottom: 0.5em;
  }

  .online-add-list .add-card-list .add-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 5px #7097A8;
  }

  /*Q&A*/

  .question-breadcrumb {
    width: 100%;
    padding: 6em 0 1em 0;
    margin-bottom: 3em;
  }

  .question .container {
    width: 1280px;
    margin: 0 auto 5em;

  }

  .question .question-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  .question .question-list h3 {
    font-weight: 400;
    color: #fff;
    font-size: 24px;
    margin-bottom: 1em;
    align-self: flex-start;
    padding: 0.5em 1.5em;
    background-color: #7097a8;
  }

  .question-list-faq .list-faq-answer p {
    line-height: 1.5;
  }

  .question-list .question-list-faq {
    width: 960px;
    align-items: center;
  }

  .question-list .question-list-faq .list-faq-question h4{
        font-weight: 400;
  }

  .question-list-faq .list-faq-question {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }

  .question-list-faq .list-faq-answer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin-bottom: 1em;
    max-height: 0;
    max-width: 768px;
    overflow: hidden;
    transition: max-height 1s;
  }
  .active .list-faq-answer {
    max-width: 768px;
    max-height: 300px;
  }

   /*房型介紹*/

   .room-breadcrumb {
    width: 100%;
    padding: 6em 0 1em 0;
    margin-bottom: 3em;
  }

   .room .container {
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .room .room-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
  }

  .room .room-card .card-pic-other{
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  .room .room-card .card-pic-other  .card-other-pic img {
    width: 100%;
    padding: 1em 0;
    margin-right: 1em;
  }

  .room .room-card .card-pic-other .card-other-pic{
    width: 216px;
    height: 148px;
  }

  .room .room-card h4 {
    font-size: 24px;
    margin-bottom: 2em;
  }

  .room .room-card-info {
    display: flex;
    margin-bottom: 3em;
    gap: 5em;
    background-color: #fff;

    justify-content: center;
    padding: 2em 6em;
  }


  .room .room-card-info li{
    font-size: 18px;
  }


  .room .room-card-info .card-info li {
    margin-bottom: 2em;
  }

  .room .room-card-info .card-other li {

    margin-bottom: 1em;
  }

  .room .room-card-info .card-care li {
    margin-bottom: 2em;
  }

  .room-card-last div {
    font-weight: 700;
  }

  .room .room-card-last li {
    font-size: 18px;
    margin-bottom: 2em;
    list-style: decimal;
  }



  .room-card-info ol:not(:first-child) li+li {
    list-style: circle;
  }

  .room-card-last {
    display: flex;
  }

  .room-card-last .card-last-title {
    font-size: 20px;
    margin-bottom: 2em;
    text-align: center;
  }

  .room-card-last .card-last-price {
    align-self: center;
    background-color: #b7e3ec;
    margin-left: 5em;
    padding: 5em 10em;
  }

  .room-card-last .card-last-price h4 {
    font-size: 20px;
    margin-bottom: 2em;
    text-align: center;
  }

  .room-card-last .card-last-price button {
    padding: 1em 2em;
    border: 1px solid transparent;
    background-color: #7097a8;
  }

  .room-card-last .card-last-price a {
    font-size: 18px;
    color: #fff;
  }

  .room-card-last .card-last-price .last-price-btn:hover {
    background-color: rgba(112, 151, 168, 0.6);
    cursor: pointer;
  }

  /*加購行程*/

  .room-add-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em auto;
  }

  .room-add-list .add-card-list {
    display: flex;
    gap: 2em;
    margin-bottom: 2em;
  }

  .room-add-list h3 {
    font-size: 24px;
    margin-bottom: 3em;
  }

  .room-add-list .add-more {
    font-size: 18px;
    align-self: flex-end;

  }

  .room-add-list .add-more:hover a {
    color: #7097a8;
  }

  .room-add-list .add-card-list .add-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #7097A8;
    transform: translateY(0px);

  }

  .add-card .add-card-txt {
    flex-grow: 1;
    padding: 0.5em 2em 1em 2em;
    display: flex;
    flex-direction: column;
  }

  .add-card .add-card-title h4 {
    font-size: 18px;
  }

  .add-card .add-card-txt .add-card-title h4+h4 {
    color: rgba(255, 0, 0, 0.658);
  }

  .add-card .add-card-pic {
    width: 100%;
    vertical-align: middle;
  }

  .add-card .add-card-txt .add-card-bottom {
    margin-top: auto;
  }

  .add-card .add-card-txt span {
    color: #555454;
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 0.5em;
  }

  .add-card .add-card-txt .card-txt-small span:nth-child(1) {
    margin-right: 1em;
  }

  .add-card .add-card-txt .card-txt-small {
    margin-bottom: 0.5em;
  }

  .add-card .add-card-txt .add-card-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }

  .add-card .add-card-txt .card-txt-hour {
    font-size: 16px;
  }

  .add-card .add-card-txt .add-card-bottom {
    display: flex;
    justify-content: space-between;
  }

  .add-card .add-card-txt p {
    margin-bottom: 0.5em;
  }

  .room-add-list .add-card-list .add-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 5px #7097A8;
  }

  /*客戶評價*/

  .room-evaluate {
    width: 1280px;
    margin: 0 auto 3em;
  }

  .room-evaluate .item {
    width: 380px;
    display: flex;
    flex-direction: column;
    background-color: #b7e3ec;
  }

  .room-evaluate .item .room-evaluate-description {
    margin-top: auto;
    padding: 0.5em 1em 1em 2em;
  }

  .item .room-evaluate-user {
    display: flex;
    gap: 1em;
    padding: 1em 2em;
  }

  .item .room-evaluate-user img {
    width: 50px;
    height: 50px;
  }

  .room-evaluate-user .room-evaluate-txt {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .room-evaluate h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 1em;
  }

  /*其它房型*/
  .room-others {
    margin-bottom: 3em;

  }

  .room-others h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 5px solid #7097a8;
  }

  .room-others .room-others-room {
    display: flex;
    gap: 4em;
    margin-bottom: 3em;
  }

  .room-others .room-others-room h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 2em;
  }

  /*周邊景點*/
  
  .tour-breadcrumb {
    width: 100%;
    padding: 6em 0 1em 0;
    margin-bottom: 3em;
  }


  .tour .container {
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tour .container .tour-pic {
    margin: 22em 0;
  

}



.tour .tour-card-list {
    display: flex;
    gap: 2em;
    margin-bottom: 3em;
    position: relative;
}

.tour .tour-card-list .tour-card {
    width: 304px;
    background-color: #B7E3EC;
    flex-grow: 1;
    border-radius: 10px;
    position: absolute;
    transform: translateY(0px);
    transition: .5s;
}

.tour .tour-card-list .tour-card img {
    border-radius: 10px 10px 0 0;
  
}

.tour-card-list .tour-card .tour-card-txt {
    flex-grow: 1;
    padding: 1em 2em 1em 2em;
}

.tour-card-list .tour-card .tour-card-txt h4 {
  font-size: 20px;
    margin-bottom: 0.5em;
}

.tour-card-list .tour-card .tour-card-txt p {
  font-size: 18px;
    line-height: 1.5;
}

.tour-card-list .tour-card:hover {
    transform: translateY(-30px);
}

.tour-card-list .tour-card-three {
    top: -1300px;
    left: -200px;
}

.tour .tour-card-list .tour-card-deer {
    top: -1100px;
    left: -600px;
}

.tour-card-list .tour-card-gold {
    top: -500px;
    left: -600px;
}

.tour-card-list .tour-card-star {
    top: -1300px;
    left: 250px;
}

.tour-card-list .tour-card-park {
    top: -850px;
    left: 300px;
}

.tour-card-list .tour-card-hotspring {
    top: -400px;
    left: 0px;
}






